<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    <class name="com.chrome.test.ElevateTest">
    
    <methods>
      <include name="swipeDown"></include>
      </methods>
      
    </class>
          
      
      
      <!-- <class name="com.chrome.test.ChromeAppTest"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
